form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid palevioletred;
    border-radius: 8px;
    background-color: black;
    color: azure;
}

.title-name{
    width: 100%;
    margin-top: 1rem;
    color: hotpink;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid hotpink;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.input, .label{
    display: block;
}

button,
input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
    background-color: violet;
}