.home-container{
    height: 90vh;
}

.left-container{
    /* background-color: blue; */
    height: 60vh;
    width: 50%;
    max-width: 500px;
}

.mainContainer .right-container{
    width: 40%;
    height: 40vh;
    margin-top: 5%;
    margin-left: 5%;
}

.mainContainer .right-container {
    /* width: 100%; */
    /* height: auto; */
    border-radius: 8px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.9);
}

@media (min-width: 768px) {
    .right-container {
      height: 50vh; /* Adjust for smaller screens */
      
    }
  }

.container{
    float: left;
    width: 50%;
    padding-bottom: 0%;
}

 .context {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin: 1rem;
}

 @media (max-width: 400px) {
    .left-container {
        height: 90vh;      
    }
  }