.h-content{
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
}
.h-container{ 
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    /* width: 80%; */
    max-width: 500px; 
 }

.content .h-container{
    flex: 1;
    min-width: 300px;
    margin-top: 1rem;
    padding: 0.5rem;
    /* text-align: center; */
    background: white;
    /* border: 1px solid red; */
    box-shadow: 0 2px 5px rga(0, 0, 0, 0.1)
}

.content .bottom-container{
    width: 100px;
    height: 40vh;
    /* margin-top: 5%; */
    /* margin-left: 5%; */
}

@media (max-width: 615px) {
    .content .bottom-container{
        max-width:  20px;     
        
    }
  } 



.mainContainer .bottom-container {
    border-radius: 8px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.9);
}


/* .home-container .container .context { */
    /* font-size: 20px; */
    /* word-wrap: normal; */
    /* word-spacing: 0.5px; */
    /* line-height: 1.3; */
    /* text-align: justify; */
    /* margin: 1rem; */
/* } */

  @media (min-width: 615px) {
    .h-content .h-container {
        max-width:  80px;      
    }
  } 